<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Feet: The Blog</title>
</head>
<body>
 <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand main-color">
    <a class="navbar-item" href="">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu main-color">
    <div class="navbar-start main-color">
      <a href="/" class="navbar-item main-color">
        Home
      </a>

      <a href="/dashboard/user-home" class="navbar-item main-color">
        Dashboard
      </a>
      </div>
    </div>

    <div class="navbar-end main-color">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button invert-color" href="/login">
            <strong>log In</strong>
          </a>
          <a class="button invert-color" href="/signup">
            <strong>sign up</strong>
          </a>
          <button id="logout" type="button" class="button invert-color">
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero main-color">
  <div class="hero-body">
    <h1 class="title is-1">
      <a href="/">Feet: The Blog (A Blog About Our Feet)</a>
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    {{{body}}}
  </div>
</section>
</body>

<script src="/js/logout.js"></script>