.main-color {
  color: #d0fafa;
  background-color: #389f9f;
}
.invert-color {
  color: #389f9f;
  background-color: #d0fafa;
}
/*#9caea9*/

.bg {
  background-color: #9caea9;
}
 
h1, h2, h3 {
   font-weight: 600;
}
 
 .padding {
   margin-top: 35px;
 }
 
 .main-color {
   color: #d0fafa;
   background-color: #389f9f;
 }
 .invert-color {
   color: #389f9f;
   background-color: #d0fafa;
 }
 
 .padding {
   padding: 10px;
 }

 .spread {
   justify-content: space-between;
 }
 